body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.storeheader {
  height: 28vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}
.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
svg {
  width: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-cart span {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title {
  font-size: xx-large;
}
.listProduct .item {
  background-color: #eae6ca;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .item button {
  background-color: #434750;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}

/* cart */
.cartTab {
  width: 400px;
  background-color: #1e213d;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: #9b111e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #eee;
}
.listCart .item img {
  width: 100%;
}
.listCart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-image {
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-content button {
  background-color: #9b111e;
  padding: 10px 20px;
  border: none;
  outline: none;
  box-shadow: none;
}
.card-content button a {
  color: #fff;
  text-decoration: none;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  margin: 0px 13px;
  padding: 18px 0px;
  cursor: pointer;
}
.sub-header {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1 {
  margin-top: 200px;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80ox;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-us h1 {
  padding-top: 0;
}
.about-us p {
  padding: 15px 0 25px;
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.location .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
}

.icon-cart span {
  font-size: 14px;
  background-color: #ff4a4a;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: -5px;
}

.cartTab {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f3f3f3;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.cartTab.showCart {
  transform: translateX(0);
}

.cartTab h1 {
  margin-bottom: 20px;
}

.cartTab .listCart {
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.listProduct {
  margin-top: 40px;
}

.item {
  width: calc(50% - 20px);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .details {
  flex-grow: 1;
  margin-left: 20px;
}

.item .details .name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.item .details .price {
  color: #666;
}

.item .details .quantity {
  display: flex;
  align-items: center;
}

.item .details .quantity span {
  margin: 0 5px;
  cursor: pointer;
}

.totalPrice {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
