* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.login--form {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  box-shadow: 2px 2px 3px #000;
  width: 400px;
  border-radius: 10px;
  padding: 25px 40px;
}
.container form h4 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.login--form__input {
  margin-top: 1rem;
}
.login--form__input input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5f5e5e;
}
.log--form__submit {
  margin-top: 1rem;
}
.log--form__submit button {
  padding: 10px 20px;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
}
